<% @meals.each do |meal| %>
    <p><%= meal.day_meal %> - <%= meal.food %> - <%= meal.user.username %><br>
    <% if current_user.owns_meal?(meal) %>
        <a href="/meals/<%= meal.id %>/edit">Edit</a></p>
    <% end %>
    <form action="/meals/<%= meal.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
     <% if current_user.owns_meal?(meal) %>
    <input type="submit" value="Delete">
     <% end %>
     <hr>
    </form>
<% end %>
